:root {
    --primary-color: #1F2120;
    --secondary-color: rgba(128, 128, 128, 0.813);
    --background-color: white;
    --input-width: 100%;
    --inside-width: 80%;
    --transition-duration: 0.2s;
}

.login {
    width: 340px;
    height: 360px;
    background-color: var(--background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 13px;
    text-indent: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    color: black;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    width: 100%;
}

.inputs input {
    background-color: transparent;
    width: var(--input-width);
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    color: var(--primary-color);
    transition: border-color var(--transition-duration);
}

.inputs div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: var(--inside-width);
    justify-content: center;
    align-items: center;
}

.sobe {
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 2px;
    margin-left: 2px;
    transition: 0.1s linear;
    transform: translateY(-20px);
    left: 2px;
}

input:placeholder-shown~.sobe {
    transform: translateY(0);
}

input:focus~.sobe{
    transform: translateY(-20px);
    font-weight: bold;
}

input::placeholder {
    color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

@media (max-width: 600px) {
    .login {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .inputs input {
        width: 100%;
    }

    .title {
        font-size: 24px;
        letter-spacing: 10px;
    }
}