footer {
    color: var(--secondary-color);
    width: var(--base-width);
    background-color: var(--primary-color);
    margin-top: 10px;
}

.topSection {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff2b;
}

.column{
    max-width: 20%;
}

.column ul li,
.column i,
.column p {
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.5;
    transition: 0.5s ease;
}

.column ul li {
    margin: 5px 0;
}

.column ul li:hover {
    opacity: 1;
}

.bottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #bbb;
    text-align: center;
}