.container {
    margin: 20px;
}

.container form {
    width: 340px;
    height: 360px;
    background-color: var(--secundary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    position: relative;
}

.container .error .inputs input{
    animation: shake 0.5s ease-in-out;
}

.container .title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    text-indent: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.container .errorText{
    position: absolute;
    top: 5px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
    height: 170px;
    width: 100%;
}

.inputs input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    color: var(--primary-color);
    transition: border-color 0.2;
}

.inputs div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.inputs .sobe {
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 2px;
    margin-left: 2px;
    transition: 0.1s linear;
    transform: translateY(-20px);
    left: 2px;
}

.inputs input:placeholder-shown~.sobe {
    transform: translateY(0);
}

.inputs input:focus~.sobe {
    transform: translateY(-20px);
    font-weight: bold;
}

.inputs input::placeholder {
    color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px #ffffffdc inset !important;
    -webkit-text-fill-color: var(--primary-color) !important;
}

u {
    cursor: pointer;
    font-size: 12px;
    margin-top: 0.5em;
}

@keyframes shake {
    0% {
        background-color: rgba(255, 0, 0, 0.13);
        transform: translateX(0);
    }

    25% {
        background-color: rgba(255, 0, 0, 0.304);
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}