.productHolder {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.RecentProductHolder {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow:4px 4px 2px rgba(255, 255, 255, 0.111);
    padding: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.RecentProductHolder .productCard{
    background: linear-gradient(135deg, var(--highlight-color) 10%, var(--secundary-color) 10%, var(--secundary-color) 90%, var(--highlight-color) 10%);
}

.productCard:hover > .imageContainer .productImage{
    transform: scale(1.1);
}

.imageContainer {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: 0.5s ease;
}

.productInfo {
    margin-top: 10px;
    height: 100px;
    width: var(--base-width);
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.productTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productTitle * {
    font-weight: 500;
    margin: 0;
}


.productPrice{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin: 0;
}

.desc{
    font-size: 11px;
    font-weight: bold;
    opacity: 0.8;
    font-style: italic;
}
