.profilePage {
    width: var(--base-width);
    display: flex;
}

.profileNavBar {
    background-color: var(--primary-color);
    width: 200px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
}

.profileNavBar h3 {
    margin-top: 100px;
}

.profileNavBar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.profileNavBar ul li {
    border-radius: 5px;
    padding: 10px 0;
    transition: 0.5s ease;
    text-indent: 15px;
    word-spacing: 10px;
}

.profileNavBar ul li:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

.profileNavBar ul a {
    opacity: 0.5;
    text-decoration: none;
    color: var(--secundary-color);
}

.profileNavBar .active {
    opacity: 1;
}

.profileHolder {
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 40px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 40px;
}

.profileHolder::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--secundary-color);
    opacity: 0.9;
    z-index: -1;
}

.profileHolder h3{
    width: 60%;
    color: var(--primary-color);
}

.rowHolder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden    ;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    box-shadow: 3px 3px 3px rgba(57, 55, 55, 0.309);
    padding: 0 30px;
    border-radius: 5px;
    width: 60%;
}

.rowHolder .empty{
    display: grid;
    gap: 20px;
    padding: 40px;
    text-align: center;
}

.linkRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    color: var(--primary-color);
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.092);
}


.linkRow:first-of-type{
    border: none;
}

.linkRow h3{
    font-weight: normal;
    min-width: 150px;
}

.linkRow p{
    opacity: 0.8;
    min-width: 300px;
    cursor: pointer;
}

.linkRow .update{
    opacity: 0.8;
    font-size: 16px;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.256);
    min-width: 280px;
    margin-right: 20px;
}

.linkRow .arrow, .linkRow .rotate, .linkRow .check{
    transition: 0.5s ease;
    font-size: 0.9em;
    cursor: pointer;
}

.linkRow:hover .rotate{
    rotate: 360deg;
}

.linkRow:hover .arrow{
    transform: translateX(-10px);
}

.linkRow .check:hover{
    color: rgb(24, 205, 24);
}

.linkRow > label{
    display: flex;
    align-items: center;
}

.userInfo{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: white;
    position: absolute;
    background-color: var(--primary-color);
}

.userInfo b{
    color: var(--secundary-color);
    margin: 5px 30px;
}

.address {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.address div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.address p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    min-width: 40%;
}

.address b {
    color: #007bff;
}

.address button{
    width: 100%;
    padding: 10px;
    margin-top: 2rem;
    background: #007bff;
    color: var(--secundary-color);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.address button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.address button:active {
    background: #004494;
    transform: scale(0.98);
}
