:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: var(--primary-color);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1f2120;
  --secundary-color: #fff;
  --highlight-color: #d9534f;
  --base-width: 95%
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #646564;
}

::-webkit-scrollbar-track {
  border: transparent;
  border-radius: 4px;
}

.hide {
  display: none;
}

input[type="submit"] {
  border: none;
  height: 35px;
  width: 80%;
  font-weight: bold;
  color: var(--secundary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
}

input::spelling-error,
textarea::spelling-error {
  text-decoration: none;
}

input::grammar-error,
textarea::grammar-error {
  text-decoration: none;
}

input,
textarea {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

input {
  outline: none;
}

b {
  color: var(--highlight-color);
}

ul {
  list-style: none;
  padding: 0;
}
/* 
.slick-prev:before, 
.slick-next:before {
    color: black !important;
    font-size: 20px !important;
    z-index: 10;
} */
